@model HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .font {
        font-family: American, Typewriter, serif;
        color: white;
        /*font-size:25%;*/
        text-align: center
    }
</style>
<li>
    <h1 class="font"><b>All Restaurants</b></h1><br />
    
    
</li>
<br />

@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant)

}


<a class="btn btn-primary" asp-action="Create">Add Restaurant</a>

<br>



